@theme {
  --animate-shake: shake 1s linear infinite;
  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
  }
}

@theme {
  --animate-ring: ring 1s linear infinite;
  @keyframes ring {
    0%,
    100% {
      transform: rotate(0deg);
    }
    10%,
    30% {
      transform: rotate(-10deg);
    }
    20%,
    40% {
      transform: rotate(10deg);
    }
  }
}
