@theme {
  /* Mono colors */
  --color-mono-white: #ffffff;
  --color-mono-black: #000000;

  /* Gray colors */
  --color-gray-50: #f8f9fb;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #e8ecef;
  --color-gray-300: #dee1e6;
  --color-gray-400: #cfd4da;
  --color-gray-500: #adb6bd;
  --color-gray-600: #7c868f;
  --color-gray-700: #495058;
  --color-gray-800: #353a40;
  --color-gray-900: #212429;
  --color-gray-950: #1a1d21;

  /* Mint colors */
  --color-mint-50: #ecfdff;
  --color-mint-100: #cff9fe;
  --color-mint-200: #a5f0fc;
  --color-mint-300: #67e3f9;
  --color-mint-400: #22d3ee;
  --color-mint-500: #00c9ec;
  --color-mint-600: #049bc9;
  --color-mint-700: #0e7090;
  --color-mint-800: #155b75;
  --color-mint-900: #164c63;
  --color-mint-950: #0d2d3a;

  /* Error colors */
  --color-error-500: #f04438;
}
