@import 'tailwindcss';
@import '../styles/base.css';
@import '../styles/colors.css';
@import '../styles/typography.css';
@import '../styles/layout.css';
@import '../styles/animations.css';

:root {
  --background: #dde7f0;
  --foreground: #dde7f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-pretendard: var(--font-pretendard);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dde7f0;
    --foreground: #dde7f0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
