@theme {
  --z-dropdown: 1000;
  --z-sticky: 1020;
  --z-fixed: 1030;
  --z-modal-backdrop: 1040;
  --z-modal: 1050;
  --z-popover: 1060;
  --z-tooltip: 1070;
  --z-header: 50;
  --z-overlay: 40;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility flex-col-center {
  @apply flex flex-col items-center justify-center;
}

@utility flex-col-between {
  @apply flex flex-col items-center justify-between;
}

@utility shadow-card {
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
}

@utility scroll-stable {
  scrollbar-gutter: stable;
}

.scrollbar-thin::-webkit-scrollbar {
  @apply w-1;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-gray-400;
}
