/* 4xl */
@utility text-4xl-medium {
  @apply text-[40px] leading-[48px] font-medium;
}

/* 3xl */
@utility text-3xl-bold {
  @apply text-[32px] leading-[38px] font-bold;
}

@utility text-3xl-semibold {
  @apply text-[32px] leading-[38px] font-semibold;
}

/* 2xl */
@utility text-2xl-bold {
  @apply text-[24px] leading-[28px] font-bold;
}

@utility text-2xl-semibold {
  @apply text-[24px] leading-[28px] font-semibold;
}

@utility text-2xl-medium {
  @apply text-[24px] leading-[28px] font-medium;
}

@utility text-2xl-regular {
  @apply text-[24px] leading-[28px] font-normal;
}

/* xl */
@utility text-xl-bold {
  @apply text-[20px] leading-[24px] font-bold;
}

@utility text-xl-semibold {
  @apply text-[20px] leading-[24px] font-semibold;
}

@utility text-xl-medium {
  @apply text-[20px] leading-[24px] font-medium;
}

@utility text-xl-regular {
  @apply text-[20px] leading-[24px] font-normal;
}

/* 2lg */
@utility text-2lg-bold {
  @apply text-[18px] leading-[21px] font-bold;
}

@utility text-2lg-semibold {
  @apply text-[18px] leading-[21px] font-semibold;
}

@utility text-2lg-medium {
  @apply text-[18px] leading-[21px] font-medium;
}

@utility text-2lg-regular {
  @apply text-[18px] leading-[21px] font-normal;
}

/* lg */
@utility text-lg-bold {
  @apply text-[16px] leading-[19px] font-bold;
}

@utility text-lg-semibold {
  @apply text-[16px] leading-[19px] font-semibold;
}

@utility text-lg-medium {
  @apply text-[16px] leading-[19px] font-medium;
}

@utility text-lg-regular {
  @apply text-[16px] leading-[19px] font-normal;
}

/* md */
@utility text-md-bold {
  @apply text-[14px] leading-[17px] font-bold;
}

@utility text-md-semibold {
  @apply text-[14px] leading-[17px] font-semibold;
}

@utility text-md-medium {
  @apply text-[14px] leading-[17px] font-medium;
}

@utility text-md-regular {
  @apply text-[14px] leading-[17px] font-normal;
}

/* sm */
@utility text-sm-semibold {
  @apply text-[13px] leading-[16px] font-semibold;
}

@utility text-sm-medium {
  @apply text-[13px] leading-[16px] font-medium;
}

/* xs */
@utility text-xs-semibold {
  @apply text-[12px] leading-[14px] font-semibold;
}

@utility text-xs-medium {
  @apply text-[12px] leading-[14px] font-medium;
}

@utility text-xs-regular {
  @apply text-[12px] leading-[14px] font-normal;
}
